$font-sizes:(
    p-320: 0.7rem,
    p-500: 0.9rem,
    p-700: 1rem,
    p-910: 1.2rem,
    p-1230: 1.4rem,
    p-1440: 1.5rem,


    h1-320: 0.7rem,
    h1-500: 1rem,
    h1-700: 1.3rem,
    h1-910: 1.8rem,
    h1-1230: 2rem,
    h1-1440: 2.5rem,



    h2-320: 0.7rem,
    h2-500: 1rem,
    h2-700: 1.2rem,
    h2-910: 1.7rem,
    h2-1230: 2rem,
    h2-1440: 2.3rem,

    h6-320: 0.7rem,
    h6-500: 0.9rem,
    h6-700: 1.1rem,
    h6-910: 1.3rem,
    h6-1230: 1.5rem,
    h6-1440: 1.6rem,


    nav-small: 1.25rem,
    nav-medium: 1.25rem,
    nav-large: 2.5rem

);
$colors:(
    azul: #294379,
    negro: rgb(0, 0, 0),
    blanco: rgb(255, 255, 255),
    gris:#2f3645,
    popupP:#dfe69587,
    popupHover: rgb(194, 100, 100),
    grisClaro: rgba(245, 245, 245),
    marron:rgb(71, 24, 15),
    marronClaro:#e2dcd9,
    
);

.main_home h1{
    font-family: "DM Sans", serif;
    font-weight: 300;
    font-size: 2rem;
    padding: 3rem;
    color:#294379;

}