$font-sizes:(
    p-320: 0.8rem,
    p-500: 1.1rem,
    p-780: 1.2rem,
    p-780plus: 1.25rem,
    p-1230: 1.35rem,
    p-1440: 1.5rem,

    h1-320: 1.3rem,
    h1-500: 1.1rem,
    h1-780: 1.3rem,
    h1-910: 1.8rem,
    h1-1230: 2rem,
    h1-1440: 2.5rem,

    h2-320: 1.2rem,
    h2-500: 1.2rem,
    h2-780: 1.2rem,
    h2-910: 1.8rem,
    h2-1230: 2rem,
    h2-1440: 2.3rem,

    h6-320: 0.7rem,
    h6-500: 0.9rem,
    h6-780: 1.1rem,
    h6-910: 1.3rem,
    h6-1230: 1.5rem,
    h6-1440: 1.6rem,

);
$colors:(
    azul: #294379,
    negro: rgb(0, 0, 0),
    blanco: rgb(255, 255, 255),
    gris:#2f3645,
    popupP:#dfe69587,
    popupHover: rgb(194, 100, 100),
    grisClaro: rgba(245, 245, 245),
    marron:rgb(71, 24, 15),
    marronClaro:#e2dcd9,
    
);

.main_home h1{
    font-family: $dmsans;
    font-weight: 300;
    font-size: 2rem;
    padding: 3rem;
    color:#294379;

}