$font-sizes:(
    p-small: .75rem,
    p-medium: 1.25rem,
    p-large: 40px,
    h1-small: 1rem,
    h1-medium: 1.25rem,
    h1-large: 2.5rem,
    h2-small: 1.25rem,
    h2-medium: 1.25rem,
    h2-large: 1.25rem,
    nav-small: 1.25rem,
    nav-medium: 1.25rem,
    nav-large: 2.5rem

);
$colors:(
    princ: rgb(176, 176, 209),
    secundario: rgb(165, 108, 108),
    terciario: rgb(206, 206, 145)
);