$color-principal: #294379;
$color-secundario: rgb(23, 23, 53);
$dmsans: "DM Sans", serif;
$spartan: "League Spartan", serif;
$typografia-navbar: "DM Sans", serif, black;
$typografia-navbar-in: "DM Sans", serif, gray;
$typografia-p: ms-sans;
$typografia-h1: ms-sans;