/*------------------------footer */
.footerContainer{
    width: 100%;
    border-top: 1px solid #ebebeb;
    display: flex;
    flex-direction: row;
    font-size: map-get($font-sizes, p-1440);
    font-family: "League Spartan", serif;
    font-weight: 100;
    align-items: center;
    background-color: rgb(255, 255, 255);
}
.linkHome{
    width: 10%;
    margin-top:0px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
    color: map-get($colors, azul);
    font-family: $spartan;
}
.logoFooter{
    width: 60px;
}
.footerContainer p{
    width: 73%;
    padding-top: 2px;
    text-align:right;
    margin-right: 20px;
}
.ul_SocialMedia a img{
    width: 50%;
}
.ul_SocialMedia{
    padding-top: 2px;
    width: 17%;
    display: flex;
    flex-direction: row;
    list-style: none;
}
