.exhibitionsNav{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    margin: 1.25rem;
    position: sticky;
}
.exhibitionsNav li{
    list-style: none;
    padding-left: .3rem;
    padding-right: .3rem;
}
.exhibitionsNav li a{
    text-decoration: none;
    color:#294379;
    font-family: "League Spartan", serif;
    font-weight: 100;
    font-size: 1.6rem;
}


.exhibition-layout {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin: 2rem 0;
  }
    /* VER ajustaR el botón OJO ESTE DUPLICA INFO */
    .exhibition-layout {
        align-self: flex-start;
        margin-top: 1rem;
      }
  
  .exhibition-layout .image-container {
    flex-shrink: 0;
  }
  /* El contenedor de INFO ocupa el resto */
  .exhibition-layout .info-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  


.current1{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 2.25rem;
}
.articlesCurrent{
    margin: 2.25rem;
}
    
    /* 
    font-family: $dmsans;
    font-family: $spartan;
  
    */

.info_container {
    margin: 10px;
}
.info_container p{
    font-family: $dmsans;
    font-weight: 300;
    text-align:justify;
    color:map-get($colors, gris);
    font-size: map-get($font-sizes, p-1440);
}
#h2Permanent{
    color:map-get($colors, popupHover);
}
.info_container h2{
    font-family: $spartan;
    font-weight: 100;
    color:map-get($colors, azul);
    font-size: map-get($font-sizes, h2-1440);
}

.info_container h6{
    font-family: $dmsans;
    font-weight: 500;
    color:map-get($colors, azul);
    font-size: map-get($font-sizes, h6-1440);
}

.subheadingLine {
    display: flex;
    align-items: center;
  }
  .subheadingLine{
    font-weight: 100;
    color:map-get($colors,azul);
    font-family: $spartan;
    font-size: map-get($font-sizes, h1-1440);
  }
  
  .subheadingLine span {
    margin-right: 8px;  /* espacio entre el texto y la línea */
  }
  
  .subheadingLine::after {
    content: "";
    flex: 1;            
    border-top: 1px solid #eee;
    margin-left: 8px;
  }
  .current2{
    margin: 3rem;

  }
  .current2 img{
    width: 35rem;
  }
  .current3{
    margin: 3rem;
  }
  .current3 img{
    width: 35rem;
  }
  .current4{
    margin: 3rem;
  }
  .current4 img{
    width: 35rem;
  }
  .current5{
    margin: 3rem;
  }
  .current5 img{
    width: 35rem;
  }
  .articlesUpcoming article div img{
    width: 35rem;
  }
  .PastExhibitions img{
    width: 35rem;

  }
  .articlesUpcoming article{
    display:flex;
    margin: 3rem;
  }
  .articlesUpcoming{
    margin: 3rem;
  }
  .articlesPast{
    margin: 3rem;
  }
  .past1 img{
    width: 35rem;
  }
  .past2 img{
    width: 35rem;
  }
  .past3 img{
    width: 35rem;
  }
  .past1{
    margin: 3rem;
  }  
  .past2{
    margin: 3rem;
  }
  .past3{
    margin: 3rem;
  }
