.col-70 {
    flex: 0 0 70%;
    max-width: 70%;
  }
  .col-30 {
    flex: 0 0 30%;
    max-width: 30%;
  }
  .ticketsTitle h1{
    margin: 2.3rem;
    align-items: center;
    font-weight: 100;
    font-family: $spartan;
    justify-self: center;  /* en eje x*/
    font-size: map-get($font-sizes,h1-1440);
    color:map-get($colors,azul);
  }
  .ticketsTitle p{
    margin: 2rem;
    color:  map-get($colors,gris);
    font-family: $dmsans;
    font-size: map-get($font-sizes, p-1440);
    justify-self: center;
  }
.BuyTicketsForm h2{
    font-size: map-get($font-sizes,h2-1440);
    font-weight: 500;
    color:map-get($colors,azul);
    font-family: $spartan;
}
.BuyTicketsForm{
    font-size: 1.3rem;
    font-weight: 100;
    color:map-get($colors,azul);
    font-family: $spartan;
    margin: 4rem 0rem 4rem 2rem;
}
.ticketInfo{
    font-size: 1.5rem;
    font-weight: 100;
    color:map-get($colors,azul);
    font-family: $spartan;
}

.ticketInfo h2{
    text-align: center;
    color:map-get($colors,azul);
    margin-top: 4rem;;
    margin-bottom: 1.6rem;

  }

.priceTable{
    font-size: 1.5rem;
    font-weight: 100;
    font-family: $spartan;
    color:  map-get($colors,marron);
    max-width: 50rem;
    margin: 0 auto;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    border-collapse: collapse; 
    border: none;

}
  th, td {
    /*border: 1px solid #ccc;  Borde gris */
    padding: .75rem;           /* Espaciado interno */
    text-align: center; 
  }

  thead th {
    background-color: map-get($colors,grisClaro);
    color: map-get($colors,azul);
    font-size: 1.5rem;
    border-radius: 8px 8px 0 0;
    font-weight: 400;
  }

  tbody tr {
    background-color: #fffcf1;
    transition: background-color 0.3s ease;
  }

  tbody tr:nth-child(even) {
    background-color: map-get($colors,marronClaro);
  }

  tbody tr:hover {
    background-color: map-get($colors,azul);
    color:  map-get($colors,blanco);
    
  }

  /* 
  tbody tr:last-child td {
    border-radius: 0 0 8px 8px;
  }*/

  .ticketsMoreInfo p{
    color:  map-get($colors,gris);
    margin: 2rem;
    font-family: $dmsans;
    font-size: map-get($font-sizes, p-1440);
  }
  .linkFormRefund{
    color:  map-get($colors,popupHover);
  }
  .linkFormRefund:hover{
    color:  map-get($colors,gris);
  }