.contactFormContainer {
    position: relative;
    padding: 20px;
    /*border-radius: 8px; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    min-height: 40vh;
    overflow: hidden; /* Asegura que el fondo no sobresalga */
}
.contactFormBackground {
    position:absolute; /* absolute, fixed, relative */
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    background-image: url("../assets/img/modern-day_museum_exterior.webp");
    background-size:cover;/* cover, contain, 80% auto, 500px 300px, auto */
    background-repeat: no-repeat;
    background-position: center; /* center, top, bottom, left, right, top left, etc */
    opacity: 0.3;
    z-index: 0; /* Envío el fondo detrás */
}
.contactFormContent {
    position: relative;
    z-index: 1; /* para que el texto quede encima */
    color: #000;
    font-family: $dmsans;
    font-size: 20px;
    font-weight: 200;
}
.contactForm{
    display: flex;
    flex-direction: column;
    background-color: #ffffff00;
}
.formField{
    background-color: #ffffff45;
    border-radius: 5px;
    width: 100%;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  
}
h1{
    font-weight: 100;
    color:map-get($colors,azul);
    font-family: $spartan;
    font-size: map-get($font-sizes, h1-1440);
    margin: 2.3rem;
    align-items: center;
    justify-self: center;  /* en eje x*/

  }
.contactInfo p{
    font-family: $dmsans;
    font-weight: 300;
    font-size: map-get($font-sizes,p-1440);
    color:map-get($colors,gris);
}
.contactInfo div{
    margin: 2.3rem;
}