/*------------------------------------about */
.gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-auto-rows: minmax(30px, auto);
  }
  .gridContainer img{
    width: 12rem;
  }
  
  .sectionMainTitle {
    grid-column: 1/6;
    grid-row: 1/2;
    justify-self: center;  /* en eje x*/
    align-self:center;
    margin: 1.5rem;
  }

  .sectionMainTitle h1{
    font-weight: 100;
    color:map-get($colors,azul);
    font-family: $spartan;
    font-size: map-get($font-sizes, h1-1440);

  }
 
  .sectionMainDescription {
    text-align: justify;
    grid-column: 1/6;
    grid-row: 2/3;
    justify-self:right;  /* en eje x*/
    align-self:center;
    font-family: $dmsans;
    font-weight: 100;
    font-size: map-get($font-sizes,p-1440);
    margin: 1.2rem;
  }
  .sectionMainDescription p{
    margin-bottom: .8rem;
  }

  .line1{
    grid-column: 1/6;
    grid-row: 3/4;
  }
  .line1{
    content: "";
      flex: 1;            
      border-top: 1px solid #eee;
      margin-left: 8px;
  }
  .title1{
    grid-column: 3/6;
    grid-row: 4/5;
    justify-self: center;  /* en eje x*/
    align-self:center;
    font-family: $dmsans;
    font-weight: 100;
    font-size: 1rem;
    color:#294379;
  }
  .paragraph1{
    grid-column: 3/6;
    grid-row: 5/8;
    justify-self: center;
    align-self:flex-start;
    font-family: $dmsans;
    font-weight: 100;
    font-size: map-get($font-sizes,p-1230);
    margin: 1.2rem;
    text-align: justify;
  }
  .paragraph1 p{
    margin-bottom: .8rem;
  }
  .img1_1{
    grid-column: 1/2;
    grid-row: 4/6;
    justify-self: center;
    align-self: center;
    
  } 
  .img1_2{
    grid-column: 2/3;
    grid-row: 4/6;
    justify-self: center;
    align-self: center;
  }
  .img1_3 {
    grid-column: 1/2;
    grid-row: 6/8;
    justify-self: center;
    align-self: center;
  }
  .line2{
    grid-column: 1/6;
    grid-row: 8/9;
  }
  .line2{
    content: "";
      flex: 1;            
      border-top: 1px solid #eee;
      margin-left: 8px;
  }
  
  
  .title2{
    grid-column: 1/4;
    grid-row: 9/10;
    justify-self: center;  /* en eje x*/
    align-self:center;
    font-family: $dmsans;
    font-weight: 100;
    font-size: 1rem;
    color:#294379;
  }
  .paragraph2{
    grid-column: 1/4;
    grid-row: 10/13;
    justify-self: center;
    align-self:flex-start;
    font-family: $dmsans;
    font-weight: 100;
    font-size: map-get($font-sizes,p-1230);
    margin: 1.2rem;
    text-align: justify;
  }
  .paragraph2 p{
    margin-bottom: .8rem;
  }
  .img2_1{
    grid-column: 4/5;
    grid-row: 10/12;
    justify-self: center;
    align-self: center;
  } 
  .img2_2{
    grid-column: 5/6;
    grid-row: 9/11;
    justify-self: center;
    align-self: center;
  }
  .img2_3 {
    grid-column: 5/6;
    grid-row: 11/13;
    justify-self: center;
    align-self: center;
  }
  .line3{
    grid-column: 1/6;
    grid-row: 13/14;
  }
  .line3{
    content: "";
      flex: 1;            
      border-top: 1px solid #eee;
      margin-left: 8px;
  }
  .title3{
    grid-column: 3/6;
    grid-row: 14/15;
    justify-self: center;  /* en eje x*/
    align-self:center; /*  en eje y */
    font-family: "DM Sans", serif;
    font-weight: 100;
    font-size: 1rem;
    color:#294379;
  }
  .paragraph3{
    grid-column: 3/6;
    grid-row: 15/18;
    justify-self: center; /*  en eje x*/
    /*align-items:center; nada y */
    /*align-content:start; en eje y */
    align-self:flex-start;   /* en eje y */
    font-family: "DM Sans", serif;
    font-weight: 100;
    font-size: map-get($font-sizes,p-1230);
    margin: 1.2rem;
    text-align: justify;
  }
  .paragraph3 p{
    margin-bottom: .8rem;
  }
  .img3_1{
    grid-column: 1/2;
    grid-row: 14/16;
    justify-self: center;
    align-self: center;
  } 
  .img3_2{
    grid-column: 1/2;
    grid-row: 16/18;
    justify-self: center;
    align-self: center;
  }
  .img3_3 {
    grid-column: 2/3;
    grid-row: 16/18;
    justify-self: center;
    align-self: center;
  }
  
  
  
  