.carousel-item{
    height: 35rem;
}
.carousel-item img{

        width: 100%;
        height: 100%;
        object-fit: contain; /* Muestra la imagen completa sin recortar */
        object-position: center; /* Centra la imagen dentro del contenedor */

}