 /* botón hamburguesa */
 .hamburger-menu {
    display: none; /* Oculto en vista web */
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
    cursor: pointer;
    z-index: 10; /* Por encima  */
  }
  
  .hamburger-menu span {
    background: #294379;
    height: 3px;
    border-radius: 3px;
  }
  
  /* Mobile: ver si mostrar el botón y ocultar el menú por defecto */
  @media (max-width: 500px) {
    .hamburger-menu {
      display: flex;
    }
    
    /* Ocultar menú por defecto */
    .nav-menu {
      display: none;
    }
  }