
.logo a{
    text-decoration: none;
    padding-left: .1875rem;
    color:#294379;
    font-family: $spartan;
    font-weight: 300;
    font-size: 2.5rem;
}

.ul-nav {
    display: flex;
    
}
.ul-nav li{
    list-style: none;
    padding-left: .3rem;
    padding-right: .3rem;
}
.ul-nav li a{
    text-decoration: none;
    font-family: $spartan;
    font-size: 1.6rem;
}
.active{
    color: #000000;
    font-weight: 250;
}
.inactive{
    color:#5e5e5f;
    font-weight: 120;
}

