/* Colores 
gris 565656
azul 294379
Negro 000000
otro azul 2F3645
gris lineas ebebeb
*/ 
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');


/*.league-spartan-<uniquifier> {
    font-family: "League Spartan", serif;
    font-optical-sizing: auto;
    font-weight: <100-900>;
    font-style: normal;
  }*/
/*.dm-sans-<uniquifier> {
  font-family: "DM Sans", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

