


/* Media query  entre 500 y 779px */
@media (min-width: 501px) AND (max-width: 779px) {
  .header {
    flex-direction: row;
    align-items: center; /* este mueve el menu h hacia abajo o arriba*/
    justify-content: space-between;
    /* aca no hacen nada
    justify-items: left;
    align-content: left;*/
    margin: 0.5rem;
    height: fit-content;
  }
  .damnHeader {
    flex-direction: row;
    align-items: center; /* este mueve el menu h hacia abajo o arriba*/
    justify-content: space-between;
    margin: 0.5rem;
    height: fit-content;
  }
  .damnHeader nav ul li{
    margin: 12px;
  }
  .logo a {
    font-size: 2rem;
    margin: 0.5rem;
  }

  .nav-menu {
    display: none;
  }
  .hamburger-menu {/* esto son las tres rayitas  */
    display:flex; 
    flex-direction: column;
    justify-content: space-evenly;
    width: 30px;
    height: 25px;
    cursor: pointer;
    z-index: 10; /* Por encima  */
  }
  .hamburger-menu span {
    background: #294379;
    height: 3px;
    border-radius: 3px;
  }

  .nav-menu.active { /* que cuando se active, mostrar el menú */
    display: block;
   
    text-align: center;
    background-color: #ffffff; /* Retocar */
  }
  .ul-nav{
    display: inline-block;
    text-align: left;

  }

  /*.ul-nav {
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin: 1.5rem;
  }*/
  .ul-nav li a {
    font-size: 1.3rem;
  }


  /* Main Home (index) */
  .main_home h1 {
    font-size: 1.8rem;
    
  }
  .banner {
    width: 60%;
    height: 18.75rem;
    margin: 2rem auto;
    padding: 1rem;
  }

  .popup-content {
    position: relative;
    width: 90%;
    height: 50rem;
    background: url("../assets/img/museumday.jpg") no-repeat center/cover; /* no-repeat center center/cover */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px hsla(60, 16%, 93%, 0.508);
    text-align: center;
    color: rgb(71, 24, 15);
    font-family: $dmsans;
    font-weight: 200;
  }
  .popup-content h2{
    font-size: 25px;
  }
  .popup-content p{
    font-size: 20px;
   background-color: #dfe69587;
    
  }
  .close-popup-btn {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: rgb(84, 20, 20);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    right: 5%;
    transform: translateX(-50%);
  }
  .close-popup-btn:hover {
    background-color: rgb(194, 100, 100);
  }
  .open-popup-btn{
    padding: 10px 20px;
    font-size: 1rem;
    background-color: rgb(84, 20, 20);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    bottom: 60px; 
  }


  .open-popup-btn:hover {
    background-color: rgb(194, 100, 100);
  }

  /* Carrusel y galerías de Exhibitions */

  .carousel-item {
    height: 15rem;
  }
  .carousel-item img{
          width: 100%;
          height: 100%;
          object-fit: contain; /* Muestra la imagen completa sin recortar */
          object-position: center; /* Centra la imagen dentro del contenedor */
  }
  .info_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
  }
  .articlesCurrent {
    margin: 0.25rem;
  }
  .current1 {
    margin: 0rem;
  }
  .subheadingLine {
    font-size: 2rem;
  }
  .current1 button {
    margin-top: 0;
  }
                        /*exhibitions*/
  .info_container p{
    font-size: .9rem;
  }
  .info_container h2{
    font-size: 1.2rem;
  }
  .info_container h6{
    font-size: .9rem;
  }
  .exhibition-layout{
    gap: 0.5rem;
  }
  .exhibition-layout{
    display: flex;
    flex-direction: column;
    
  }
  .current2{
    margin: 3.5rem 0.25rem 2.5rem 0.25rem;
/* top right bottom left*/
  }
  .current3{
    margin: 3.5rem 0.25rem 2rem 0.25rem;
  }
  .current4{
    margin: 3.5rem 0.25rem 2rem 0.25rem;
  }
  .current5{
    margin: 3.5rem 0.25rem 2rem 0.25rem;
  }
  .current2 img{
    width: 22rem;
  }
  .current3 img{
    width: 22rem;
  }
  .current4 img{
    width: 22rem;
  }
  .current5 img{
    width: 22rem;
  }
  .articlesUpcoming {
    margin: 0.25rem;
  }
  .articlesUpcoming article {
  margin: 0rem;
}
  .articlesUpcoming article div img{
    width: 22rem;
  }
  
  .articlesPast {
    margin: 0.25rem;
  }
  .PastExhibitions img{
    width: 22rem;
  }
  .past1 img{
    width: 22rem;
  }
  .past2 img{
    width: 22rem;
  }
  .past3 img{
    width: 22rem;
  }
  .past1{
    margin: 3.5rem 0.25rem 2rem 0.25rem;
  }
  .past2{
    margin: 3.5rem 0.25rem 2rem 0.25rem;
  }
  .past3{
    margin: 3.5rem 0.25rem 2rem 0.25rem;
  }

  /* about*/


                                          /* about  */
  .gridContainer {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-column-gap: 5px;
    grid-row-gap: 10px;
    grid-auto-rows: minmax(30px, auto);
  }
  .gridContainer img{
    width: 22rem;
  }
  .sectionMainTitle {
    grid-column: 1/6;
    grid-row: 1/2;
  }
  .sectionMainTitle h1{
    font-size: map-get($font-sizes, h1-910);
  }
  .sectionMainDescription {
    grid-column: 1/6;
    grid-row: 2/3;
  }
  .sectionMainDescription p{
    font-size: map-get($font-sizes,p-780);
    color:map-get($colors,gris);
  }
  .line1{
    grid-column: 1/6;
    grid-row: 3/4;
  }
  .line1{
    content: "";
      flex: 1;            
      border-top: 1px solid #eee;
      margin-left: 8px;
  }
  .title1{
    grid-column: 1/6;
    grid-row: 4/5;
  }
  .title1 h2{
    font-size: map-get($font-sizes,h2-780);
  }
  .paragraph1{
    grid-column: 1/6;
    grid-row: 5/8;
    font-size: map-get($font-sizes,p-1230);
  }
  .paragraph1 p{
    font-size: map-get($font-sizes,p-780);
    color:map-get($colors,gris);
  }
  .img1_1{
    grid-column: 1/6;
    grid-row: 8/9;
  } 
  .img1_2{
    grid-column: 1/6;
    grid-row: 9/10;
  }
  .img1_3 {
    grid-column: 1/6;
    grid-row: 10/11;
  }
  .line2{
    grid-column: 1/6;
    grid-row: 11/12;
  }
  .line2{
    content: "";
      flex: 1;            
      border-top: 1px solid #eee;
      margin-left: 8px;
  }
  .title2{
    grid-column: 1/6;
    grid-row: 12/13;
  }
  .title2 h2{
    font-size: map-get($font-sizes,h2-780);
  }
  .paragraph2{
    grid-column: 1/6;
    grid-row: 13/16;
    font-size: map-get($font-sizes,p-1230);
  }
  .paragraph2 p{
    font-size: map-get($font-sizes,p-780);
    color:map-get($colors,gris);
  }
  .img2_1{
    grid-column: 1/6;
    grid-row: 16/17;
  } 
  .img2_2{
    grid-column: 1/6;
    grid-row: 17/18;
  }
  .img2_3 {
    grid-column: 1/6;
    grid-row: 18/19;
  }
  .line3{
    grid-column: 1/6;
    grid-row: 19/20;
  }
  .line3{
    content: "";
      flex: 1;            
      border-top: 1px solid #eee;
      margin-left: 8px;
  }
  .title3{
    grid-column: 1/6;
    grid-row: 20/21;
  }
  .title3 h2{
    font-size: map-get($font-sizes,h2-780);
  }
  .paragraph3{
    grid-column: 1/6;
    grid-row: 21/22;
  }
  .paragraph3 p{
    font-size: map-get($font-sizes,p-780);
  }
  .img3_1{
    grid-column: 1/6;
    grid-row: 22/23;

  } 
  .img3_2{
    grid-column: 1/6;
    grid-row: 23/24;

  }
  .img3_3 {
    grid-column: 1/6;
    grid-row: 24/25;

  }/* fin about */
/* tickets 
  font-size: map-get($font-sizes, h1-910);*/






  





/* contacto*/
  .h1Contact{
    margin-top: 4rem;
    font-size: 1.8rem;
  }
  .contactInfo h1{
    font-size: 1.8rem;
  }
  .contactInfo p{
    font-size: 1.2rem;
  }
  .contactFormContent{
  font-size: 20px;
  font-weight: 200;
  }
  /* Footer columna esto hay que modificar
  .footerContainer {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
  }
  .footerContainer a,
  .footerContainer p,
  .ul_SocialMedia {
    width: 100%;
  }
  .footerContainer a img {
    width: 60%;
  }
  .ul_SocialMedia {
    justify-content: center;
  }*/

  .linkHome{
    width: 20%;
    font-size: map-get($font-sizes, p-780); /* ajustar*/
  }
  .footerContainer p{
    width: 40%;
    font-size: map-get($font-sizes, p-500);
    text-align: right;
    margin-right: 5px;
  }
  .logoFooter{
    width: 49px;
  }
  .ul_SocialMedia li a img{
    width: 20px;
    margin: 10px;
  }
  .ul_SocialMedia{
    width: 40%;
} 
ul {
  padding-left: 1rem;
}
}