@media (min-width: 1102px) AND (max-width: 1230px) {
.info_container p{
    font-family: $dmsans;
    font-weight: 300;
    text-align:justify;
    color:map-get($colors, gris);
    font-size: map-get($font-sizes, p-1230);
}
.info_container h2{
    font-family: $spartan;
    font-weight: 100;
    color:black;
    font-size: map-get($font-sizes, h2-1230);
}
.info_container h6{
    font-family: $dmsans;
    font-weight: 500;
    color:map-get($colors, azul);
    font-size: map-get($font-sizes, h6-1230);
}
}
@media (min-width: 910px) AND (max-width: 1101px) {
    .info_container p{
        font-family: $dmsans;
        font-weight: 300;
        text-align:justify;
        color:map-get($colors, gris);
        font-size: map-get($font-sizes, p-910);
    }
    .info_container h2{
        font-family: $spartan;
        font-weight: 100;
        color:black;
        font-size: map-get($font-sizes, h2-910);
    }
    .info_container h6{
        font-family: $dmsans;
        font-weight: 500;
        color:map-get($colors, azul);
        font-size: map-get($font-sizes, h6-910);
    }
    .current2 img{
        width: 22.5rem;
      }
      .current3 img{
        width: 22.5rem;
      }
      .current4 img{
        width: 22.5rem;
      }
      .current5 img{
        width: 22.5rem;
      }
      .articlesUpcoming article div img{
        width: 25rem;
      }
      .PastExhibitions img{
        width: 25rem;
      }
      .past1 img{
        width: 25rem;
      }
      .past2 img{
        width: 25rem;
      }
      .past3 img{
        width: 25rem;
      }
    }









@media (min-width: 800px) AND (max-width: 909px) {
      .current2 img{
        width: 23rem;
      }
      .current3 img{
        width: 23rem;
      }
      .current4 img{
        width: 23rem;
      }
      .current5 img{
        width: 20rem;
      }
      .articlesUpcoming article div img{
        width: 25rem;
      }
      .PastExhibitions img{
        width: 25rem;
      }
      .past1 img{
        width: 25rem;
      }
      .past2 img{
        width: 25rem;
      }
      .past3 img{
        width: 25rem;
      }
}

@media (min-width: 760px) AND (max-width: 832px) {
    .current2 img{
      width: 23rem;
    }
    .current3 img{
      width: 23rem;
    }
    .current4 img{
      width: 23rem;
    }
    .current5 img{
      width: 23rem;
    }
    .articlesUpcoming article div img{
      width: 23rem;
    }
    .PastExhibitions img{
      width: 23rem;
    }
    .past1 img{
      width: 23rem;
    }
    .past2 img{
      width: 23rem;
    }
    .past3 img{
      width: 23rem;
    }
    .info_container h2{

    }
    .info_container h6{

    }
    .info_container p{

    }
    .info_container button{

    }
}